.error-box {
  background-color: #ffcf00;
  width: fit-content;
  padding: 8px;
  color: #fa003f;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.slider {
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #00916e;
  animation: slide-down 4s ease-in-out 0s 1 forwards;
}

@keyframes slide-down {
  0% {
    transform: translateX(0);
    width: 100%;
    left: 0;
  }

  100% {
    transform: translateX(100%);
    width: 0%;
    left: 100%;
    right: 0;
  }
}
