.empty-list {
  font-size: 32px;
  font-family: "inconsolata";
  text-align: center;
  margin-top: 2rem;
  line-height: 2rem;
}

.molecule {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem 1rem;
  padding: 1rem;
  background-color: #f9f8f8;
}

@media screen and (max-width: 935px) {
  .molecule {
    gap: 8px 8px;
  }
}

@media screen and (max-width: 820px) {
  .molecule {
    gap: 6px 2px;
  }
}

@media screen and (max-width: 796px) {
  .molecule {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 8px;
  }
}

@media screen and (max-width: 545px) {
  .molecule {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
  }
}
