:root {
  --author-cl: #28965a;
  --date-cl: #28965a;
  --page-cl: #f9f8f8;
}

.news-article {
  width: 80%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--page-cl);
  margin-top: 2rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.news-title {
  font-size: 3.2rem;
  text-align: left;
  font-family: " Newsreader ";
  font-weight: 200;
}

.news-img {
  max-width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1;
  margin-top: 2rem;
}

.news-author {
  font-family: "Manrope";
  margin-top: 2.2rem;
  color: var(--author-cl);
}

.news-date {
  font-family: "Manrope";
  margin-top: 1rem;
  color: var(--date-cl);
}

article {
  max-width: 100%;
  font-size: 1.2rem;
  margin: 3rem 0;
  font-family: "Roboto+Mono";
}

.news-panel {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.fav-btn,
.unfav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 3rem;
  padding: 4px;
  background-color: #1098f7;
  border-radius: 4px;
  font-family: "Inconsolata";
  color: #ffffff;
  cursor: pointer;
}

.fav-added {
  background-color: #ffcf00;
  width: fit-content;
  padding: 8px;
  color: #fa003f;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 520px) {
  .news-title {
    font-size: 1.8rem;
  }

  .news-date,
  .news-author {
    font-size: 12px;
    margin-top: 1rem;
  }

  .article {
    font-size: 12px;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 345px) {
  .news-article {
    width: 100%;
  }
  .news-title {
    font-size: 12px;
  }

  .news-date,
  .news-author {
    font-size: 8px;
    margin-top: 8px;
  }

  .article {
    font-size: 10px;
    margin-top: 1rem;
  }
}
